$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-links:  #0880e8;
$color-bg:     #ffff80;

$width-content:  42rem;
$width-narrow:   30rem;
$margin-default: 1rem;
$margin-wide:    3rem;
$margin-narrow:  0.25rem;

$border-radius: 0.25rem;
$size-reduced:  85%;


@mixin emphasized-box($margin, $padding: $margin-default) {
    margin: $margin auto;

    border-radius:    $border-radius;
    background-color: $color-bg;

    padding: $padding;
}

@mixin call-to-action($padding) {
    @include emphasized-box($margin-default, $padding);

    display:   block;
    max-width: fit-content;

    p {
        margin: 0;
    }
}


body {
    font-family: Arial, sans-serif;
    color:       $color-normal;

    max-width: $width-content;
    margin:    0 auto;

    > header {
        display:        flex;
        flex-direction: column;

        margin-bottom: $margin-wide;

        a.title {
            text-decoration: none;

            h1 {
                margin-bottom: 0;
                font-size:     250%;
            }

            h2 {
                margin-top: 0;
                font-size:  100%;
            }
        }

        nav {
            display: flex;

            flex-direction: row-reverse;

            ul {
                list-style-type: none;

                margin-top:    $margin-narrow;
                margin-bottom: $margin-narrow;

                padding: 0;

                li {
                    display: inline;

                    a {
                        text-decoration: none;

                        color: $color-strong;

                        padding:       $margin-narrow;
                        border-radius: $border-radius;
                    }
                }

                li.emphasize a {
                    background-color: $color-bg;
                }

                li:not(:last-child)::after {
                    // That `\A` here, which inserts a line break on the left
                    // side of the middle dot, is a really dirty trick.
                    //
                    // It's not actually rendered as a line break, but it is
                    // rendered as whitespace with a certain width. This is done
                    // to counter-act whitespace on the right side of the middle
                    // dot, which stems from the markup and which I can't get
                    // rid of easily.
                    //
                    // Looks like there are CSS features in the pipeline that
                    // could help me solve this in a sane way[1], but we aren't
                    // there yet.
                    //
                    // [1]: `text-space-collapse: discard` on the parent should
                    //      do the trick, once available.
                    content: "\A·";

                    margin: $margin-narrow;
                }
            }
        }
    }

    > main {
        header {
            margin-bottom: $margin-default;

            h2 {
                margin-bottom: 0;
            }
        }

        aside {
            @include emphasized-box($margin-default);

            max-width:  fit-content;
            font-style: italic;
            font-size:  $size-reduced;

            p:first-child {
                margin-top: 0;
            }
        }

        img {
            max-width: 100%;
        }

        h3 {
            margin-top:    $margin-default * 2;
            margin-bottom: $margin-default;
        }

        p {
            margin-top:    $margin-default;
            margin-bottom: 0;
        }

        ol, ul {
            margin-top:    $margin-default / 2;
            margin-bottom: 0;

            li {
                margin-top: $margin-narrow;
            }
        }

        strong.call-to-action {
            @include call-to-action($margin-default);
        }
    }

    > footer {
        margin-top:    $margin-wide;
        margin-bottom: $margin-wide;

        font-size: 80%;

        display:        flex;
        flex-direction: column;
        align-items:    center;

        hr {
            width: 100%;

            margin-top:    $margin-wide;
            margin-bottom: $margin-wide;
        }

        strong.call-to-action {
            @include call-to-action($margin-default * 0.5);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-titles;
}

strong {
    color: $color-strong;
}

a {
    color:       $color-links;
    font-weight: bold;
}

code:not(.language-rust) {
    background-color: #f0f0f0;
}

form.newsletter {
    @include emphasized-box($margin-wide);

    max-width: $width-narrow;

    h2 {
        margin-top: 0;
    }

    input {
        margin: $margin-narrow * 2 0;
    }

    input[type=email] {
        width:      100%;
        box-sizing: border-box
    }

    div.submit {
        text-align: center;

        input[type=submit] {
            margin: 0;
            border: 0 none;

            border-radius: $border-radius;
            padding:       $margin-narrow * 2 $margin-default;

            font-weight: bold;

            color:            #ffffff;
            background-color: #444444;
        }
    }
}

ol.blog {
    list-style-type: none;
    padding:         0;

    li {
        margin-bottom: $margin-default;

        span.metadata {
            margin-left: $margin-default;
        }
    }
}

span.metadata {
    font-size: $size-reduced;

    time {
        font-weight: bold;
    }
}
