{% macro form(emphasis, description) %}
    <form
        class="newsletter {{ emphasis }}"
        method="POST"
        action="https://static.mailerlite.com/webforms/submit/b3p2x0"
        data-code="b3p2x0"
        target="_blank">

        <h2>Newsletter</h2>
        {% if description %}
            <p>
                Want to stay up-to-date with Fornjot? Sign up to receive weekly release announcements, as well as some unscheduled messages from time to time, per email!
            </p>
        {% endif %}

        <input type="hidden" name="ml-submit" value="1" />
        <input type="hidden" name="anticsrf" value="true" />

        <input
            type="email"
            name="fields[email]"
            required
            placeholder="your@email.com" />
        <div class="submit">
            <input
                type="submit"
                value="Sign up" />
        </div>
    </form>
{% endmacro %}
