{% import "macros/newsletter.html" as newsletter %}

{% extends "base.html" %}

{% block main %}
    <article class="blog-post">
        <header>
            <h2>{{ page.title }}</h2>
            <span>
                Posted on <time datetime="{{ page.date }}">{{ page.date }}</time> by <a href="https://github.com/hannobraun">Hanno Braun</a>
            </span>
        </header>

        <aside>
            {% block pre_content %}{% endblock %}
        </aside>

        {{ page.content | safe }}

        <footer>
            {{ newsletter::form() }}
        </footer>
    </article>
{% endblock %}
