{% import "macros/newsletter.html" as newsletter %}
{% import "macros/blog.html" as blog %}

{% extends "base.html" %}

{% block main %}
    <article class="blog-post">
        <header>
            <h2>{{ page.title }}</h2>
            {{ blog::metadata(post=page) }}
        </header>

        <aside>
            {% block pre_content %}{% endblock %}

            <p>
                Want to stay up to date on Fornjot? Then consider subscribing to the newsletter using the form at the bottom of this page.
            </p>
        </aside>

        {{ page.content | safe }}

        <footer>
            {{ newsletter::form() }}
        </footer>
    </article>
{% endblock %}
